<form class="flex flex-col gap-4 relative">
  <button
    type="button"
    class="absolute top-2 end-0 cursor-pointer"
    (click)="toggleDisabled()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
      />
    </svg>
  </button>
  <h2 class="text-3xl font-bold">Your Information</h2>
  <div class="flex gap-4 items-center">
    <app-input
      name="fname"
      type="text"
      value="Hossam"
      [disabled]="isInputDisabled"
    ></app-input>
    <app-input
      name="lname"
      type="text"
      value="Mahmoud"
      [disabled]="isInputDisabled"
    ></app-input>
  </div>
  <app-input
    name="email"
    type="email"
    value="hossam@gmail.com"
    [disabled]="isInputDisabled"
  ></app-input>
  <button
    class="self-end bg-black text-white px-3 py-2 cursor-pointer"
    [disabled]="isInputDisabled"
  >
    Submit
  </button>
</form>
